.python-version
.rasa
credentials.yml

.env
/actions/__pycache__
/actions/__init__.py
/models
.DS_Store
rasapro_env
endpoints.yml
output.json
rasa-2.0.2.tgz
telegram.txt
.config
.keras
.cache
.vscode


/data/flows/easter_eggs.yml
/domain/easter_eggs.yml
/actions/action_easter_eggs.py
/actions/apiapi.py
/actions/api_helper.py
api_helper.py
apiapi.py

/assets/
index.html
